<%= render "shared/side_bar" %>
  追加事項
<ul>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>
  <li>・下部に利用規約</li>
  <li>・下部に注意事項</li>
  <li>・下部に連絡先</li>

</ul>
