<%= render "shared/side_bar" %>
<div class="main-place">
    <h1>チームトップ画面</h1>
      <div class="team-create">
        <%= link_to "チームを追加する", new_team_path, class: "post" %>
      </div>
  <div class="team-list">
  <ul>
    <li>・チーム名一覧</li>
    <li>・チームを作成する</li>
    <li>・チーム名からリンクでチーム詳細に飛ぶ</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    <li>・下部に利用規約</li>
    <li>・下部に注意事項</li>
    <li>・下部に連絡先</li>
    </ul>
  </div>

</div>
