<h1>チームトップ画面</h1>
<% breadcrumb :root %>
<div class="team-create">
  <%= link_to "チームを追加する", new_team_path, class: "post" %>
</div>
<div class="team-list">
<ul>
  <% @teams.each do |team| %>
    <li><%= link_to team.name, team_path(team.id) %></li>
  <% end %>
</ul>
