<%= render "shared/side_bar" %>
<div class="main-place">
  <div class="team-content">
    <div class="team-container">
      <h3>チームを追加する</h3>
      <%= render partial: "form", locals: {team: @team} %>
    </div>
  </div>
</div>