<div class="comment-edit">
  <div class="manual-all">備考編集</div>
  <%= form_with(model: [@manual, @comment], local: true) do |form| %>
    <%= form.text_area :comment, placeholder: "備考を記入する", cols: "80", rows: "10" %>
    <%= form.submit "変更", class: "btn btn-danger" %>
  <% end %>
</div>