<div class="search">
  <div class="search-title">問い合わせ検索</div>
  <%= search_form_for @team.askings.ransack(params[:q]), url: search_team_askings_path do |f| %>
    <div class="search-field">
      <% f.label :question_or_answer_cont, '検索キーワード' %>
      <%= f.text_field :question_or_answer_cont, placeholder: '検索キーワード' %>
    </div>
    <div class="search-field">
      <%= f.label :submit, class: "search-button" do %>
        <input type= "submit" value="検索" class="btn btn-danger search-btn">
        <%= f.submit :submit, id: "q_submit", style: "display: none;" %>
      <% end %>
    </div>
  <% end %>
</div>