<%= render 'shared/side_bar' %>

<h1>メンバー一覧</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= user.last_name %>
      <%= user.first_name %>
      <%= user.email %>
    </li>
  <% end %>
</ul>