<% breadcrumb :manual_each, @team, @manual %>

<%# マニュアルの新規作成 %>
<div class="manual-create">
  <%= link_to "マニュアルを作成する", new_manual_path, class: "btn btn-outline-danger" %>
</div>

<div class="manual">
  <div class="manual-body">
    <div class="manual-all">マニュアル一覧</div>
      <% @team.manuals.each do |manual| %>
        <div class="manuals">
          <div class="news">
            <div class="newlabel">
              <%= render 'shared/new_label' if manual.new_arrival? %>
            </div>
            <%= link_to manual.title, manual_path(manual.id), method: :get %>
          </div>
        </div>
      <% end %>
  </div>

  <%# 検索 %>
  <div class="search-body">
    <%= render 'search', url: search_manuals_path, q: @q %>
  </div>
</div>