<div class="manual-container">
  <div class="manual-new">
    <h2>編集する：<%= @manual.title %>（<%= @manual.team.name %>）</h2>
  </div>
  <% breadcrumb :manual_edit, @manual %>
  <div class="manual-form">
    <%= render partial: "form", locals: {manual: @manual, edit_flag: true} %>
  </div>
</div>