<h2>マニュアル</h2>
<div class="manual-container">
  <div class="manual">
    <div class="manual-body">
      <div class="manual-all">マニュアル新規作成</div>
    </div>
  </div>
  <% breadcrumb :manual_new %>
  <div class="manual-form">
    <%= render partial: "form", locals: {manual: @manual} %>
  </div>
</div>