<div class="manual-container">
  <div class="manual-new">
    <h2>マニュアル新規作成</h2>
  </div>
  <% breadcrumb :manual_new %>
  <div class="manual-form">
    <%= render partial: "form", locals: {manual: @manual} %>
  </div>
</div>