.asking {
  margin-left: 20px;
}

.asking-team {
  width: 250px;
  border-bottom: double 5px rosybrown;
  padding-bottom: 5px;
  margin: 20px 10px;
}

.niko {
  margin-right: 10px;
  font-size: 20px;
  color: burlywood;
}