.email {
  margin-left: 20px;
  display: flex;
}

.email-team {
  font-size: 20px;
  width: 300px;
  border-bottom: double 5px rosybrown;
  padding-bottom: 5px;
  margin: 20px 10px;
}

.email-body {
  width: 70%;
}

.email-create {
  margin: 20px 0 20px 20px; 
 }

