.manual-create {
  margin: 20px 0 20px 20px; 
 }

 .manual {
  margin-left: 20px;
  display: flex;
}

.manual-team {
  width: 250px;
  border-bottom: double 5px rosybrown;
  padding-bottom: 5px;
  margin: 10px;
}

.manual-team-each {
  margin: 5px 0 30px 20px;
}

.migi {
  margin-right: 10px;
  font-size: 20px;
  color: burlywood;
}

.panel-title {
  margin: 5px 0 0 20px;
}

.panel-body {
  margin: 5px 0 5px 15px;
}

.manual-body {
  width: calc(100% - 300px);
}

.search-body {
  height: 250px;
  width: 300px;
  margin-right: 50px;
  background-color: #fef4f4;
  border-radius: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: solid 1px rosybrown;
}