.team-create {
  margin: 15px 15px;
}

.list-group {
  width: 45%;
  margin: 15px 15px;
}

p {
  color: gray;
  padding: 5px 0 5px 15px;
}

// フォーム
.team-create-form {
  margin: 10px 0 0 20px;
}

.group-item {
  padding: 10px;
}

.item-form {
  margin-left: 15px;
}

.team-btn {
  margin: 20px 0 0 20px;
}

// 詳細
.dtl {
  margin-left: 40px;
}

.team-dtl {
  width: 500px;
  font-size: 30px;
  font-family: monospace;
  color: dimgray;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-left: solid 5px palevioletred;
  border-bottom: solid 1px thistle;
  padding-left: 10px;
}

.content {
  margin: 15px 0 20px 30px;
}

.team-detail {
  margin-bottom: 25px;
}

.team-cont {
  width: 300px;
  font-size: 20px;
  font-family: monospace;
  color: gray;
  border-left: solid 2px rosybrown;
  padding-left: 10px;
  margin-bottom: 5px;
}

.tm {
  margin-left: 10px;
}

.team-edit {
  margin-left: 400px;
}

.sepa {
  color: lightgray;
}