.team-create {
  margin: 15px 15px;
}

.list-group {
  width: 45%;
  margin: 15px 15px;
}

p {
  color: gray;
  padding: 5px 0 5px 15px;
}

// フォーム
.team-create-form {
  margin: 10px 0 0 20px;
}

.group-item {
  padding: 10px;
}

.item-form {
  margin-left: 15px;
}

.team-btn {
  margin: 20px 0 0 20px;
}