<h2>メール管理</h2>
<% breadcrumb :email_edit, @team, @email %>

<div class="email-container">
  <div class="email">
    <div class="email-body">
      <div class="email-all">保管メールの編集</div>
    </div>
  </div>
  <div class="email-form">
    <%= render partial: "form", locals: { team: @team, email: @email, edit_flag: true }%>
  </div>
</div>