<h2>メール管理</h2>
<% breadcrumb :email_index %>
<div class="email">
  <div class="email-index">
    <div class="email-team">確認する所属を選ぶ</div>
    <% current_user.teams.each do |team| %>
      <ul>
        <li>
          <div class="niko">☺︎</div>
          <%= link_to team.name, choose_team_emails_path(team), method: :get, class: "link" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>