<h2>メール管理</h2>
<% breadcrumb :email_new, @team %>

<div class="email-container">
  <div class="email">
    <div class="email-body">
      <div class="email-all">メール新規保存</div>
    </div>
  </div>

  <div class="email-form">
    <%= render partial: "form", locals: { team: @team, email: @email }%>
  </div>
</div>